:root {
/*--dark: #3c3c3c;
  --light: #f5efeb;*/
  /*--darker: #111111;*/
  --txt: #eee8d5;
  --bg: #002b36;
}
html {
	color: var(--txt);
	font-family: "Raleway", sans-serif;
	font-weight: normal;
	line-height: 1.4;
}

body {
	font-size: 1.3em;
	margin: auto;
	padding: auto;
	background-color: var(--bg);
}

h1, h2, h3, h4 {
	font-family: serif;
	font-weight: lighter;
}

a {
	color: #227dbc;
	text-decoration: none;
}

/* HEADER */
.header {
	color: var(--light);
	text-align: center;
}

.header h1 {
	margin: 0;
	padding-top: 1rem;
	padding-bottom: .6rem;
	color: var(--dark);
	font-variant-caps: small-caps;
}

.header h1 a {
	color: var(--light);
	text-decoration: unset;
	background-color: var(--darker);
	opacity: 0.8;
	padding-left: .4rem;
	padding-right: .4rem;
}

.header p {
	display: inline;
	background-color: var(--darker);
	opacity: 0.8;
	margin-top: .2rem;
	padding: .2rem;
}

.header ul {
	opacity: .97;
	list-style-type: none;
	overflow: hidden;
	border-bottom: .2rem solid var(--darker);
}

.header li {
	display: inline;
	color: var(--light);
	text-align: center;
	text-decoration: none;
	background-color: var(--darker);
}

.header li a {
	opacity: 1;
	padding: 14px 16px;
	color: var(--light);
	text-decoration: none;
}

.header li a:hover {
	background-color: var(--dark);
}

.nav-right {
	float: right;
	margin-right: 1rem;
}

@media screen and (max-width: 770px) {
	.header ul {
		padding: 0;
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
	.header li {
		display: block;
		text-align: left;
		margin-left: .5rem;
		margin-right: .5rem;
	}

	.header li a {
		display: block;
		padding: unset;
	}

	.nav-right {
		float: unset;
	}
}

/* BODY WRAP */
.wrap {
	max-width: 650px;
	margin: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: var(--bg);
}

.wrap h1, h2, h3, h4 {
	color: var(--darker);
	margin: .1rem;
	padding: 0;
	font-size: 2rem;
}

.wrap a[href] {
  word-wrap: break-word;
}

.wrap pre {
	background-color: #272822;
	padding: 1em;
	white-space: pre-wrap;
}

.wrap blockquote {
	text-align: justify;
	background-color: #272822;
	border: .1rem solid gray;
	margin: 0;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.wrap img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.wrap ul {
	list-style-type: square;
	padding-left: 1rem;
}

li::marker {
  color: gray;
}

.wrap figcaption { 
	text-align: center;
	text-decoration: underline;
} 

.wrap .title {
	margin-bottom: 0;
}

.wrap .subtitle {
	margin-top: 0;
	color: gray;
}

/* FOOT */
.foot {
	padding-top: 1rem; 
	padding-bottom: 1rem; 
	text-align: center;
	/*color: var(--light);*/
	/*border-top: .1rem solid var(--darker);*/
	/*background-color: var(--darker);*/
}

.foot a {
	color: var(--txt);
}

.foot p {
	padding: .3rem;
	margin: 0;
}
