{{ partial "head" }}

{{ .Content }}

<ul>
	</li>
	{{ range .Pages.ByDate.Reverse }}
	<li>
		<span style="float:right; text-decoration: underline; color: gray;">{{ .Date.Format "2 Jan 2006" }}</span>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</li>
	{{ end }}
</ul>

{{ partial "foot" }}