{{ partial "head" }}

<h1 class="title">{{.Title }}</h1>

{{ .Content }}

<p class="subtitle">{{ if .Date }}{{ .Date.Format "2 Jan 2006" }} {{else}} {{ .Lastmod.Format "2 Jan 2006"}} {{end}} {{ if .Params.tags }}| Tags ({{ with .Params.tags }} {{range .}} <a href="/tags/{{.}}">{{.}}</a> {{end}}{{end}} ) {{ end }} </p>

{{ partial "foot" }}
