</div>

<div class="foot">
	<p>
		Website Last Updated on {{ now.Format "2 Jan 2006" }} (CC BY-SA 4.0)
	</p>

	<p>This site uses JQuery and <a style="text-decoration:underline;" href="https://nanogallery2.nanostudio.org/">nanogallery2</a> hosted by <a style="text-decoration:underline;" href="https://www.jsdelivr.com/">jsdelivr.net</a><br /> for the Flickr photo feed and <a style="text-decoration:underline;" href="https://www.goatcounter.com/">GoatCounter</a> for user insights.</p> 
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js"></script>

</body>
</html>
